*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
        flex-direction: column;
        background-color: black;
        height: auto;
}

.head{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)), url(Background.jpeg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
        
}

.navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.left{
    display: flex;
    width: 50%;   
}

.logo{
    height: 150px;
    width: 200px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.right{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 80px;
    gap: 30px;
}

.lang{
    background-color: transparent;
    color: white;
    border: 1 px solid white;
    height: 40px;
    width:100px;
    margin-top: 40px;
}

.language{
    background-color: grey;
    color: white;
    border: none;
}

.btn{
    background-color: red;
    color: white;
    height: 40px;
    width: 100px;
    margin-top: 40px;
    border: none;
    border-radius: 4px;
    font-weight: 40px;
}

.main{
    /* display: flex; */
    flex-wrap: wrap;
    text-align: center;
}

.main-head{
    color: white;
    font-size: 65px;
    margin-top: 90px;
    font-weight: 700;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.main-sub-head{
    color: white;
    font-size: 26px;
    font-weight: 100;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: 20px;
}

.main-sub-title{
    color: white;
    font-size: 20px;
    font-weight: 100;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-top: 20px;
}

.email{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
} 
.search{
    height: 68px;
    width: 600px;
    outline: none;
    font-size: 17px;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding-left: 10px;
    /* margin-right: 0px;
    margin-top: 20px;
    border: 1px solid gray;
    
    
     */
    
}
.get-started{
    background-color: #E50914;
    color: white;
    font-size: 25px;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    border: none;
    height: 68px;
    width: 200px;
    /* padding: 0; */
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    /* margin-top: 25px;
    margin-left: 0px; */
    outline: none;
}

#search:hover{
    transform:skewY(1)
}

.line{
    background-color:rgb(43, 42, 42);
    height: 7px;
    border:none;
  }

.second{
    /* background-color: black;
    color: white;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
     margin: 15px; 
}

.second-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 50px;
    margin-left: 60px;
}

.second-right{
    height: auto;
    margin-right: 50px;

}

.tv{
    width:100%;
    height: 400px;
 }


 .second-head{
    color: white;
    font-size: 55px;
    margin-top: 90px;
    font-weight: 700;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.second-sub-head{
    color: white;
    font-size: 26px;
    font-weight: 100;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    /* padding: 20px; */
    
        
}

.vid{
    width:100%;
      height: 100vh;
      
}

.main-4{
    color:white;
    font-size: 50px;
    margin-top: 80px;
    font-family:Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;

 }




.question{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    
}

.freq{
   text-align: center;
}

.collapsible{
    width: 61%;
    height: 70px;
    color:white;
    background-color: rgb(58, 54, 54);
    outline: none;
    font-size: 25px;
    display: flex;
   cursor: pointer;
    flex-direction: row;
     justify-content: space-between;
     padding-top: 15px;
    font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding:12px;
}

.collapsible:after {
    content: '\002B';
    font-size: 35px;
    color: white;
   
    
    
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 61%;
    height: 230px;
    color:white;
    text-align: justify;
    background-color: rgb(58, 54, 54);
    outline: none;
    font-size: 25px;
}

.footer{
    display: flex;
  flex-direction: row;
  width:100%;
  justify-content:space-around;
  flex-wrap: wrap;

 
}

 .num{
  display: flex;
  width: 100%;

  color:white
 }
 
.none{
  visibility: hidden;
  width: 8%;
}


.column-1{
  color:white;
  height:250px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
 
}

.btn-2{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    height: 40px;
    width:80px;
    margin-top: 30px;
   
}


.last-footer{
    display: flex;
    flex-direction: row;

}

.net{
    color: white;
}

@media screen and (max-width: 552px) {
         
         
    .container{
       display: flex;
       flex-direction: column;
       background-color: black;
       height: auto;}

       .header{
          display: flex;
          flex-direction: column;
          background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bgg.jpg)  cover;
          height:auto;
          width: 100%;
          background-repeat: no-repeat;

         
        }

        .nav-right{
          display: flex;
            height:80px;
            margin-left: 10px;
            margin-bottom: 40px;
            margin-top: 10px;
        }

        .nav-left{
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          padding-right: 30px;
          gap: 15px;
       }


       .main-head{
          color:white;
          font-size: 25px;
          margin-top: 60px;
          font-family:Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
         
       }
  
  
       .main-sub-head{
          color: white;
          font-size: 17px;
         font-family: Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
         
       }
  
  
       .main-sub-title{
          color: white;
          font-size: 10px;
          font-family:Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  
       }


       /* .input{
          height: 50px;
        width: 50%;
        outline: none;
        align-items: center;
       } */
         
       .get-started{
         
          height: 50px;
          width: 25%;
          font-size: 15px;
          color: white;
          background: #e50914;
          outline: none;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
          border: none;
         
       }
       
       .second-left{
          display: flex;
          flex-direction: column;
          text-align: center;
       }
      
       .second-right{
          height: auto;
          margin-bottom: 40px;
       }

       .second{
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
          height: auto;
          
        }


        .collapsible{
          width: 81%;
          height: 50px;
          color:white;
          background-color: rgb(58, 54, 54);
          outline: none;
          font-size: 15px;
          display: flex;
         cursor: pointer;
          flex-direction: row;
           justify-content: space-between;
           padding-top: 15px;
          font-family:Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
          padding:14px;
       }
       
        .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 61%;
    height: 230px;
    color:white;
    text-align: justify;
    background-color: rgb(58, 54, 54);
    outline: none;
    font-size: 15px;
  }


       .main-4{
          color:white;
          font-size: 40px;
          margin-top: 60px;
          font-family:Netflix Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    
       }


       .collapsible:after {
          content: '\002B';
          font-size: 23px;
          color: white;
         
          
          
        }
        
        .active:after {
          content: "\2212";
        }
        
        .content {
          padding: 0 18px;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
          width: 81%;
          height: 230px;
          color:white;
          text-align: center;
          background-color: rgb(58, 54, 54);
          outline: none;
          font-size: 25px;
        }


        .footer{
          display: flex;
        flex-direction: row;
        width:90%;
        justify-content:space-between;
        flex-wrap: wrap;
        margin-right:40px;
        margin-left: 5px;
      
       
      }
  

        .column-1{
          color:white;
          height:250px;
          justify-content: space-evenly;
          display: flex;
          font-size: 13px;
          font-weight: 3px;
          flex-direction: column;
         
         }



        
       
         .dp{
          background-color: grey;
          color: white;
          border: none;
          height: 40px;
          width:80px;
       }

    }
